# Byte-compiled
__pycache__/
*.pyc

#Ipython Notebook
.ipynb_checkpoints

/db.sqlite3
/geodjango/settings/mysql.py
/geodjango/settings/postgres.py
/geodjango/settings/server.py
/playAndTry.ipynb
/geodjango/db.sqlite3
