{% extends "world/generic_list.html" %}
{% block Titel %}Browse Area{% endblock %}
{% block list_title %}Browse Area
    {% if user.is_authenticated %}
        | <a class ="btn btn-success"  href="{% url 'world:area_create' %}">Create new Area</a>
    {% endif %}
{% endblock %}

{% block reset_button %}
<!-- <a class ="btn btn-default"  id="01">Show/Hide Advanced search options</a></br> -->
 <p></p>
 <a class ="btn btn-default"  href="{% url 'world:area_list' %}">Reset search</a>     
{% endblock %}

{% block customScripts %}
{% endblock %}