{% extends "world/generic_list.html" %}
{% block Titel %}Browse Country{% endblock %}
{% block list_title %}Browse Country
    {% if user.is_authenticated %}
        | <a class ="btn btn-success"  href="{% url 'world:world_create' %}">Create new Country</a>
    {% endif %}
{% endblock %}

{% block reset_button %}
<!-- <a class ="btn btn-default"  id="01">Show/Hide Advanced search options</a></br> -->
 <p></p>
 <a class ="btn btn-default"  href="{% url 'world:world_list' %}">Reset search</a>     
{% endblock %}

{% block customScripts %}
{% endblock %}